.cards {
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style-type: none;
  margin: 51px 0 0;
  padding: 0;
  grid-gap: 20px 17px;
  border-radius: 10px 10px 0 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: none;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0 0;
  border: none;
}

.card__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
}

.card__title_long {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 25px 20px;
  border-radius: 10px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Vector\ heart\ for\ a\ card.svg)
    no-repeat center;
  height: 18px;
  width: 21px;
  border: transparent;
  padding: 0;
  margin: 0;
}

.card__like-button:hover {
  animation: fadeOpacity 0.5s ease-in-out forwards;
}
