.popup__input {
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0 0 13.26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  margin-top: 29.74px;
  cursor: text;
}

.popup__input_inactive {
  opacity: 0.2;
}

.popup__input::placeholder {
  color: rgba(0, 0, 0, 1);
}

.popup__input:first-of-type {
  margin: 0;
}

input[name="title"]::placeholder,
input[name="url"]::placeholder {
  font-family: Inter, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #c4c4c4;
}

.popup__button {
  background-color: black;
  color: white;
  margin-top: 48px;
  padding: 0;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  height: 50.15px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.popup__button_disabled {
  border: 1px solid rgba(0, 0, 0, 1);
  opacity: 0.2;
  background-color: transparent;
  color: black;
  animation: none;
  pointer-events: none;
}

.popup__button:hover {
  animation: fadeOpacity 0.5s ease-in-out forwards;
}

.popup__button:not(.popup__button_disabled):hover {
  animation: fadeOpacity 0.5s ease-in-out forwards;
}

@media screen and (max-width: 630px) {
  .popup__button {
    margin: 45px 0 0;
    font-size: 14px;
    line-height: 16.94px;
  }
}

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.popup__error_visible {
  visibility: visible;
}

.popup__error {
  color: red;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  padding-top: 5px;
}
