.modal__form-input {
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0 0 13.26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  margin-bottom: 29.74px;
  cursor: text;
}

.modal__form-input::placeholder {
  color: rgba(0, 0, 0, 1);
}

.modal__form-input:last-of-type {
  margin: 0;
}

.modal__form-button {
  background-color: black;
  color: white;
  margin-top: 48px;
  padding: 0;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  height: 50.15px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.modal__form-button:hover {
  animation: fadeOpacity 0.5s ease-in-out forwards;
}

@media screen and (max-width: 630px) {
  .modal__form-button {
    margin: 45px 0 0;
  }
}
