.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear 0.3s, opacity 0.3s linear;
}

.modal__title {
  margin: 0 0 54px;
  color: black;
  height: 23px;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal__container {
  max-width: 360px;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 34px 36px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.modal__close {
  background-image: url("../images/close_icon_desktop.svg");
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 4px);
  left: calc(100% + 4px);
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-size: contain;
  padding: 0;
}

.modal__close_image {
  background-image: url("../images/close_icon_desktop.svg");
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 4px);
  left: calc(100% + 4px);
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-size: contain;
  padding: 0;
}

.modal__close:hover {
  animation: fadeOpacity 0.5s ease-in-out forwards;
}

.modal__close_image:hover {
  animation: fadeOpacity 0.5s ease-in-out forwards;
}

@media screen and (max-width: 630px) {
  .modal__title {
    font-size: 18px;
    line-height: 21.78px;
    margin: 0 0 75px 0;
  }

  .modal__container {
    position: relative;
    padding: 25px 22px;
    margin: 0 auto;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 30px);
  }

  .modal__image {
    max-width: 240px;
    min-height: 299px;
  }

  .modal__close_image {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 630px) and (max-width: 885px) {
  .modal__close_image {
    bottom: calc(100% + 14px);
    left: calc(100% - 40px);
  }
}

.modal__container_image {
  display: flex;
  flex-direction: column;
  padding: 0;
  background: none;
  position: relative;
}

.modal__image {
  width: 100%;
  max-height: 540px;
  object-fit: cover;
  border-radius: 8px;
  height: auto;
}

.modal__title_small {
  position: relative;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: #fff;
  margin: 10px 0 0;
  padding: 0;
}
