.modal {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  padding: 0 19px;
}

.modal__title {
  margin: 0 0 54px;
  color: black;
  height: 23px;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal_opened {
  display: flex;
}

.modal__container {
  max-width: 360px;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 34px 36px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.modal__close {
  background-image: url("../images/close_icon_desktop.svg");
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 4px);
  left: calc(100% + 4px);
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-size: contain;
  padding: 0;
}

@media screen and (max-width: 630px) {
  .modal__title {
    font-size: 18px;
    line-height: 21.78px;
    margin: 0 0 75px 0;
  }

  .modal__container {
    padding: 25px 22px;
    margin: 0 auto;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 30px);
  }
}
