.page {
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Inter, Arial, sans-serif;
  max-width: 1280px;
  min-width: 320px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}

@keyframes fadeOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}

@media screen and (min-width: 1280px) {
  .page__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

@media screen and (max-width: 950px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }

  .page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Inter, Arial, sans-serif;
  }
}

@media screen and (max-width: 515px) {
  .page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Inter, Arial, sans-serif;
  }
}
