.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.card__image {
  height: 282px;
  width: 282px;
  border: none;
  object-fit: cover;
}

.card__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 25px 20px;
  border-radius: 10px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Vector_heart_for_a_card.svg) no-repeat
    center;
  height: 18px;
  width: 21px;
  border: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
}

.card__like-button:hover {
  animation: fadeOpacity 0.5s ease-in-out forwards;
}

.card__like-button_active {
  background: url(../images/heart_icon_black.svg);
}

.card__delete-button {
  position: absolute;
  background: transparent url(../images/Trash.svg) no-repeat center;
  height: 18px;
  width: 19.3px;
  border: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  animation: fadeOpacity 0.5s ease-in-out forwards;
}
